*{
    margin: 0;
    padding: 0;
    color:aliceblue;
    text-align: center;
    
}



#small{
    font-size: 50px;
}

#medium{
    font-size: 100px;
}

#large{
    font-size: 150px;
}
@media(max-width: 520px) {
    body{
        background-color: rgb(172, 35, 35);
    }
    
    
}

@media (min-width: 521px) and (max-width: 1024px) {
    body {
        background-color: rgb(35, 172, 76);
    }

    #divs{
        display:flex
    }

        #small {
            background-color: rgb(156, 36, 32);
            width: 66%;
        }
    
        #medium {
            background-color: rgb(6, 7, 56);
            width: 33%;
        }
    
        #large {
            background-color: rgb(32, 131, 156);
            width: 100%;
        }



        
}

@media(min-width: 1024px) {
    body {
        background-color: rgb(70, 49, 192);
    }

    #divs{
        display: flex;
        justify-content: center;
    }

        

                
}
